<div class="justify-content-md-between " style="padding-left: 250px; padding-right: 250px;">
    <div class="container">
        <header
            class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 ">
            <div class="col-md-3">
                <button type="button" class="btn btn-primary me-2">Quote</button>
                <button type="button" class="btn btn-outline-primary">Plans</button>
            </div>

            <div class="col-md-3 text-end">
                <button routerLink="/account/login" type="button" class="btn btn-outline-primary me-2">Login</button>
                <button routerLink="/account/register" type="button" class="btn btn-outline-primary">Sign-up</button>
            </div>
        </header>
    </div>

    <div class="container">
        <div class="col">
            <div class="row" style="padding: 15px;">
                <h5 class="row">Breed</h5>
                <select class="form-select" aria-label="Default select example" style="padding: 10px;">

                    <option selected>Please select breed of your pet.</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="row" style="padding: 15px;">
                <h5 class="row">Age</h5>
                <select class="form-select" aria-label="Default select example" style="padding: 10px;">
                    <option selected>Please select age of your pet.</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>

            <div class="row" style="padding: 15px;">
                <h5 class="row">State</h5>
                <select class="form-select" aria-label="Default select example" style="padding: 10px;">
                    <option selected>Please select your state.</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            
        </div>
    </div>
   
</div>
<div style="text-align:center;">
    <button type="button" class="btn btn-outline-primary me-2" style="padding: 15px;">Add a Lizard</button>
    <button type="button" class="btn btn-outline-primary" style="padding: 15px;">Get a Quote</button>
</div>