<div class="justify-content-md-between " style="padding-left: 250px; padding-right: 250px;">
    <div class="container">
        <header
            class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 ">
            <div class="col-md-3">
                <button routerLink="/account/questionnaire" type="button" class="btn btn-outline-primary me-2" >Quote</button>
                <button type="button" class="btn btn-outline-primary">Plans</button>
            </div>

            <div class="col-md-3 text-end">
                <button routerLink="/account/login" type="button" class="btn btn-outline-primary me-2">Login</button>
                <button routerLink="/account/register" type="button" class="btn btn-outline-primary">Sign-up</button>
            </div>
        </header>
    </div>