<div class="card" style="margin-bottom: 180px; margin-top: 300px;">
<div class="container">
        <div class="col">
            <div class="row" style="padding: 15px;">
                <h5 class="row">Breed</h5>
                <select class="form-select" aria-label="Default select example" style="padding: 10px;">

                    <option selected>Please select breed of your pet.</option>
                    <option value="1">Crested Gecko</option>
                    <option value="2">Panther Chameleon</option>
                    <option value="3">Blue Tongued Skink</option>
                    <option value="4">Mountain Horned Dragon</option>
                    <option value="5">Spiny-Tailed Monitor</option>
                    <option value="6">Green Basilisk</option>
                    <option value="7">Veiled Chameleon</option>
                    <option value="8">Leopard Gecko</option>
                    <option value="9">Moroccan Uromastyx</option>
                    <option value="10">Bearded Dragon</option>
                </select>
            </div>
            <div class="row" style="padding: 15px;">
                <h5 class="row">Age</h5>
                <div class="" aria-label="Default select example" style="padding: 10px;">
                    <label for="customRange3" class="form-label">Please select age of your pet.</label>
                    <input type="range" class="form-range" min="0" max="25" step="0.5" id="customRange3" oninput="this.nextElementSibling.value = this.value">
                   <output>1</output><h6>Lizard's Age</h6 >
                </div>
            </div>

            <div class="row" style="padding: 15px;">
                <h5 class="row">State</h5>
                <select class="form-select" aria-label="Default select example" style="padding: 10px;">
                    <option selected>Please select your state.</option>
                    <option value="1">Alabama</option>
                    <option value="2">Alaska</option>
                    <option value="3">Arizona</option>
                    <option value="4">Arkansas</option>
                    <option value="5">California</option>
                    <option value="6">Colorado</option>
                    <option value="7">Connecticut</option>
                    <option value="8">D.C.</option>
                    <option value="9">Delaware</option>
                    <option value="10">Florida</option>
                    <option value="11">Georgia</option>
                    <option value="12">Hawaii</option>
                    <option value="13">Idaho</option>
                    <option value="14">Illinois</option>
                    <option value="15">Indiana</option>
                    <option value="16">Iowa</option>
                    <option value="17">Kansas</option>
                    <option value="18">Kentucky</option>
                    <option value="19">Louisiana</option>
                    <option value="20">Maine</option>
                    <option value="21">Maryland</option>
                    <option value="22">Massachusetts</option>
                    <option value="23">Michigan</option>
                    <option value="24">Minnesota</option>
                    <option value="25">Mississippi</option>
                    <option value="26">Missouri</option>
                    <option value="27">Montana</option>
                    <option value="28">Nebraska</option>
                    <option value="29">Nevada</option>
                    <option value="30">New Hampshire</option>
                    <option value="31">New Jersey</option>
                    <option value="32">New Mexico</option>
                    <option value="33">New York</option>
                    <option value="34">North Carolina</option>
                    <option value="35">North Dakota</option>
                    <option value="36">Ohio</option>
                    <option value="37">Oklahoma</option>
                    <option value="38">Oregon</option>
                    <option value="39">Pennsylvania</option>
                    <option value="40">Rhode Island</option>
                    <option value="41">South Carolina</option>
                    <option value="42">South Dakota</option>
                    <option value="43">Tennessee</option>
                    <option value="44">Texas</option>
                    <option value="45">Utah</option>
                    <option value="46">Vermont</option>
                    <option value="47">Virginia</option>
                    <option value="48">Washington</option>
                    <option value="49">West Virginia</option>
                    <option value="50">Wisconsin</option>
                    <option value="51">Wyoming</option>
                </select>
            </div>
            
        </div>
    </div>
   
<div style="text-align:center">
    <button type="button" class="btn btn-outline-primary me-2" style="padding: 15px;">Add a Lizard</button>
    <button type="button" class="btn btn-outline-primary" style="padding: 15px;">Get a Quote</button>
</div>
</div>